/* God-Speed StyleSheet for 
Knockathon 2016 - Exzeo.

Dhruv, Eshu, Preiksha, Tanmay, Vishal */

body{
	background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.8)), url('../img/pexels-photo.jpg');
	height: 100vh;
	background-position: center;
	background-size: cover;
	font-size: 10pt;
}

.login-card{
	background: #fff;
	color: #000;
	box-shadow: 0 5px 10px rgba(0, 0 , 0, 0.3);
	border-radius: 2pt;
	margin-top: 20vh;
}

.no-margin-top{
	margin-top: 0;
}

.stan-pad{
	padding: 15pt;
}

.margin-top-15{
	margin-top: 15pt;
}

.center{
	text-align: center;
}

.no-radius{
	border-radius: 0;
}

.no-radius-top{
	border-radius: 0 0 2pt 2pt;
}

.no-radius-bottom{
	border-radius: 2pt 2pt 0 0;
}

.white-text{
	color: #fff;
	transition: all .3s;
}

a.white-text:hover{
	color: #f1c40f;
}

.remove-border{
	border: none;
}

.border-bottom-black{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.help-text{
	color: #999;
}

.help-text-focus{
	color: #777;
	font-weight: bold;
}

.btn-distancer{
	padding-top:20px
}


/* Navigation Bar */

nav{
	background: rgba(0,0,0,0.3) !important;
	color: #fff !important;
	border-color: transparent;
}

#team-logo{
	height: 80pt;
	margin-top: -15pt;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background: rgba(0,0,0,0.8);
	color: #fff;
}

.navbar-default .navbar-nav>li>a{
	color: #aaa;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}



/* Add New */

.status-text{
	font-weight: normal;
	line-height: 32px;
}
