/* GodSpeed StyleSheet for 
Knockathon 2016 - Exzeo.

Dhruv, Eshu, Preiksha, Tanmay, Vishal */

body{
	background: linear-gradient(to top, rgba(0,0,0,0.95), rgba(0,0,0,0.85)), url('../img/pexels-photo.jpg');
	height: 100vh;
	background-position: center;
	background-size: cover;
	font-size: 10pt;
}

.login-card{
	background: #fff;
	color: #000;
	box-shadow: 0 5px 10px rgba(0, 0 , 0, 0.3);
	border-radius: 2pt;
	margin-top: 20vh;
	margin-bottom: 15vh;
}

.margin-remove-top-bottom{
	margin-top: 0;
	margin-bottom: 0;
}

h2.form-heading{
	margin-top: -35pt;
	float: left;
	color: #fff;
}

.no-margin-top{
	margin-top: 0;
}

.stan-pad{
	padding: 15pt;
}

.margin-top-15{
	margin-top: 15pt;
}

.center{
	text-align: center;
}

.no-radius{
	border-radius: 0;
}

.no-radius-top{
	border-radius: 0 0 2pt 2pt;
}

.no-radius-bottom{
	border-radius: 2pt 2pt 0 0;
}

.white-text{
	color: #fff;
	transition: all .3s;
}

a.white-text:hover{
	color: #f1c40f;
}

.remove-border{
	border: none;
}

.border-bottom-black{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.help-text{
	color: #999;
}

.help-text-focus{
	color: #777;
	font-weight: bold;
}

.no-pad{
	padding: 0;
}

.pad-all{
	padding: 15px;
}

.pad-left{
	padding-left: 15px;
}

.pad-right{
	padding-right: 15px;
}

.pad-top{
	padding-top: 15px;
}

.pad-bottom{
	padding-bottom: 15px;
}


/* Navigation Bar */

nav{
	background: rgba(0,0,0,0.9) !important;
	color: #fff !important;
	border-color: transparent;
}

#team-logo{
	height: 80pt;
	margin-top: -15pt;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background: rgba(0,0,0,0.8);
	color: #fff;
}

.navbar-default .navbar-nav>li>a{
	color: #aaa;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}



/* Add New */

.status-text{
	font-weight: normal;
	line-height: 32px;
}


/* Table Customs */

div.table-holder{
	background: #f3f3f3
}

.param-type{
	width: 100pt;
}

thead{
	font-weight: bold;
}


/* Modal Customs */

div.modal-content{
	background-color: transparent;
}

div.ReactTags__tags {
	position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
	width: 200px;
	border-radius: 2px;
	display: inline-block;
}
div.ReactTags__tagInput input,
div.ReactTags__tagInput input:focus {
	margin: 0;
	font-size: 12px;
	width: 100%;
	border: 1px solid #eee;
	padding: 8px 10px ;
	display: block;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
	border: 1px solid #ddd;
	background: #eee;
	font-size: 12px;
	display: inline-block;
	padding: 10px 10px;
	margin: 0 5px;
	cursor: move;
	border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
	color: #aaa;
	margin-left: 5px;
	cursor: pointer;
	font-size: 14px;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
	position: absolute;
}
div.ReactTags__suggestions ul {
	list-style-type: none;
	box-shadow: .05em .01em .5em rgba(0,0,0,.2);
	background: white;
	width: 220px;
	padding: 0;
	margin: 0;
}
div.ReactTags__suggestions li {
	border-bottom: 1px solid #ddd;
	padding: 10px 5px;
	margin: 0;
}
div.ReactTags__suggestions li mark {
	text-decoration: underline;
	background: none;
	font-weight: 600;
}
div.ReactTags__suggestions ul li.active {
	background: #b7cfe0;
	cursor: pointer;
}